# бинарники
*.exe
*.dll
*.so
*.dylib

# временные/рабочие папки
/tmp/
/dist/

# вендор (если не используешь)
/vendor/

# файлы БД (для твоего shortener)
*.db

# IDE
.idea/
.vscode/
*.swp

# переменные окружения
.env

# логи
*.log